@CHARSET "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	
}

#main {
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
	background-image: url(images/gr18.jpg) no-repeat center center fixed;
	background-size: cover;
}

#main .main-letter {
	position: relative;
	width: auto;
	height: 120px;
	top: 50%;
	margin-top: -120px;
	font-family: 'Montserrat', 'Noto-Sans', sans-serif;
	/*padding: 160px 0 20px 0;*/
	/* color: white; */
	color: black;
	font-size: 46px;
	font-weight: 600;
	z-index: 20;
}

.btn-default {
	display: block;
	margin: 0 auto;
	width: 150px;
	height: 20px;
	line-height: 20px;
	border: 2px solid #1E3449;
	font-family: 'Jeju Gothic', sans-serif; 
	color: black;
	font-size: 20px;
	padding: 12px 18px;
	text-decoration: none;
	margin-top: 10px;
	z-index: 10;
}

.main-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 5;
	background-image: url(../jsp/images/background.png);
	background-size: cover;	
	font-family: 'Jeju Gothic', sans-serif; 
}

.main-overlay2 {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 5;
	font-size: 100px;
	background-image: url(../jsp/images/background.png);
	background-size: cover;	
	font-family: 'Jeju Gothic', sans-serif; 
}

#table1 {
	display: block;
	margin: 0 auto;
	width: 420px;
	height: 150px;
	line-height: 20px;
	border: 2px solid #1E3449;
}

.m-t-10 {
	display:block;
	margin-top:15px; 
}

#font {
	font-family: 'Jeju Gothic', sans-serif; 
	font-size: 20px;
}


.btn-default2 {
	width: 150px;
	height: 20px;
	line-height: 20px;
	font-family: 'Jeju Gothic', sans-serif; 
	color: black;
	font-size: 23px;
	padding: 12px 18px;
	text-decoration: none;
	margin-top: 10px;
	z-index: 10;
}

.btn-default3 {
	width: 450px;
	height: 20px;
	line-height: 20px;
	font-family: 'Jeju Gothic', sans-serif; 
	color: black;
	font-size: 20px;
	padding: 12px 18px;
	text-decoration: none;
	margin-top: 10px;
	z-index: 10;
}